@import "lib/settings"
@import "lib/general"
@import "lib/grid"
@import "lib/font"
@import "lib/messages"
@import "lib/preload"
@import "theme/header"
@import "theme/footer"

body
  font-family: 'Roboto Condensed', sans-serif
  overflow-x: hidden
main
  max-width: $widthContent
  padding: 0 rem(20)
  @include respond-to(middle)
    padding: 0

.Form-home
  h2
    background: $red
    color: white
    font-size: rem(17)
    margin: auto
    padding: rem(3) rem(20)
    text-align: center
.Register-header
  border-top: solid rem(4) $red
  text-align: center
  margin: rem(20) 0
  h1
    background: $red
    color: white
    font-size: rem(17)
    margin: auto
    padding: rem(3) rem(20)
    @include respond-to(medium)
      display: inline
.Register-header.Colon
  border-top: solid rem(4) $yellow
  h1
    background: $yellow
    color: black



.Register-form.Colon-form
  border: solid $yellow
  h2
    background: $yellow
    color: black
  h3
    color: $yellow

  button
    background: $yellow
    &:hover
      box-shadow: 0 rem(2) rem(3) #8a8b2b
  .Register-addFile
    background: $yellow
    color: black
  .Register-arrowSelect
    color: black
    background: $yellow

.Register-form
  border: solid $red rem(2)
  margin: rem(50) 0
  h2
    background: $red
    color: white
    font-size: rem(16)
    padding: rem(5) rem(20)
  h3
    margin: rem(16) 1.75rem rem(4)
    font-size: rem(17)
    color: $red
  button
    padding: rem(10) 0
    background: #df2826
    color: white
    font-size: 1rem
    margin: rem(42) auto rem(60)
    max-width: 12rem
    width: 100%
    cursor: pointer
    @include respond-to(medium)
      max-width: rem(300)
    &:hover
      box-shadow: 0 rem(2) rem(3) #8b403f

  p
    margin: 0 rem(28) rem(12)
    font-size: rem(14)
    color: grey
  label
    padding: rem(15) 0 rem(15) rem(30)
    display: block
    max-width: 90%
  input, select, textarea
    border: #d3d3d3 solid rem(1)
    display: block
    max-width: 100%
    height: rem(30)
    padding: 0 rem(8)
    margin: rem(4) 0 0
    width: 100%
    &[type="file"]
      opacity: 0
      margin: 0
      cursor: pointer
  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    background: white
.Register-contentLabel
  padding: rem(15) 0

.Register-file
  border: #d3d3d3 solid rem(1)
  margin: rem(4) 0 0
  height: rem(30)
  position: relative
.Register-addFile
  position: absolute
  right: rem(-1)
  background: #df2826
  color: white
  font-size: 0.75rem
  top: rem(-1)
  line-height: 1.875rem
  padding: 0 rem(8)
.Register-tooltip
  position: absolute
  top: rem(-1)
  line-height: 1.875rem
  padding: 0 rem(8)
  font-size: 0.75rem
  left: 0
  cursor: pointer
  color: #767676
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: calc(100% - 80px)
.Register-contentSelect
  position: relative
.Register-arrowSelect
  position: absolute
  right: 0
  color: white
  background: #df2826
  font-size: rem(12)
  padding: rem(9) rem(9) rem(6)
  top: rem(23)

.Choose
  article
    text-align: center
    margin-top: rem(20)
    @include respond-to(medium)
      margin-top: rem(72)
  a
    display: block
    color: white
    font-size: rem(20)
    background: #df2826
    padding: rem(42)
    text-transform: uppercase
    &:hover
      box-shadow: 0 rem(2) rem(3) #8b403f

    &.disabled
      background: #dfdfdf !important
      color: #000 !important
      &:hover
        box-shadow: 0 0 0 #fff !important
        cursor: default

  p
    font-size: rem(20)
    padding: rem(42)
.Menu-profile
  padding: 0 rem(20)
  font-size: rem(18)
  text-align: center
  margin: rem(20) 0 0
  @include respond-to(medium)
    text-align: right
    margin: 0
  a
    color: #7f7f7f
    text-decoration: underline

.Colon-social
  span
    display: block
    margin: 0 0 rem(6)
  input
    margin: rem(12) 0
    @include respond-to(medium)
      max-width: 30.5%
      display: inline-block
      margin: 0
textarea
  min-height: rem(40)