.Header
  max-width: $widthContent
  margin: auto
  position: relative
  padding: rem(40) 0  rem(12)
  figure
    max-width: rem(250)
.Header-figure
  top: -8.4375rem
  right: -2rem
  max-width: 35rem
  position: absolute
.Header svg
  max-width: 100%
